*{
    font-family:  sans-serif;
}
.banner-home{
    padding-top: 100px;
    padding-bottom: 65px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
} 
 .banner-home::before{
 content: "";
 position: absolute;
left: 0;
top: 0;
 width: 100%;
 height: 100%;
 
 background-color: rgba(1, 1, 1, .7);
 opacity: .7;
} 
.video{
    position: relative;
   z-index:1;
}
 .overlay{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17,17,17,.2);
    
} 
.meta-info {
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imdb {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 11px;
}
.label {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    background: #e40914 !important;
    padding: 2px 11px;
}
.value {
    font-weight: 400;
    width: 37px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 4px;
    margin-bottom: 4px;
}
.btn-play{
    
    position: absolute;
    height: 44px;
    top: calc(50% - 22px);
    left: calc(50% - 19px);
    display: block;
    width: 39px;
    z-index: 20;
    transition: all .3s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
}
 .btn-play:hover{
    transform: scale(1.2);
   
}
.text{
    overflow: hidden;
}
.title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.363636;
    color: #fff;
    word-break: break-word;
    margin-bottom: 7px;
}
.info {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.85;
    color: #bbb;
    text-transform: uppercase;
    word-break: break-word;
    display: flex;
    flex-wrap: wrap;
    margin-left: -13px;
    margin-bottom: 32px;
}
.description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.625;
    color: #bbb;
    word-break: break-word;
    margin-bottom: 32px;
}
.btn-readmore {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    background: #e40914;
    padding: 14px 8px !important;
  
    border-radius: 23px;
    transition: all .2s;
}
 .item-info {
    padding-left: 13px;
    padding-right: 10px;
    position: relative;
}
.normal-items img{
    height: 150px !important;
}