
<main class="hw-100">
  <h2 class="text-center py-5">BLOG</h2>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="background-color: #63d64c">
          <iframe
            height="250"
            class="w-100"
            src="https://www.youtube.com/embed/rmCiiREjh8A"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
  
          <div class="card-body text-center">
            <h5 class="card-title p-2">Temporada 1</h5>
            <p class="card-text">capitulos 11</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #63d64c">
          <iframe
            height="240"
            class="w-100"
            src="https://www.youtube.com/embed/ubkgWeEEDJw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="card-body text-center">
            <h5 class="card-title p-2">Temporada 2</h5>
            <p class="card-text">capitulo 15</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #63d64c">
          <iframe
            height="250"
            class="w-100"
            src="https://www.youtube.com/embed/oXBMX6CJ7Do"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="card-body text-center">
            <h5 class="card-title p-2">Temporada 3</h5>
            <p class="card-text">capitulo 10</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</main>
