<section id="colaboradores" class="padded vh-100">
    <div class="container bg-danger">
        <h2>Personajes</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4" id="idcard">
          
         d
           
          </div>
    </div>
</section>
<script  type="text/javascript">
alert("DDDDD")
    //4
  
  
/*fetch("/api/api.json")
.then(res=>res.json())
.then(data=>{
  console.log(data)
 for (const values of data) {
  document.getElementById("idcard").innerHTML += 
  `
  simelo`/* <div class="col">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">${value.name}</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div> 
  
} 
})*/
</script>